body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #159607;
  color: #fff;
  padding: 1em;
  text-align: center;
}

nav a {
  color: #fff;
  margin: 0 1em;
  text-decoration: none;
}

#user-container,
#cart-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  width: 200px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card h3 {
  margin-top: 0;
}

button {
  background-color: #159607;
  border: none;
  border-radius: 3px;
  color: white;
  cursor: pointer;
  padding: 0.5em 1em;
  text-align: center;
}

button.delete {
  background-color: #dc3545;
}
